<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower-components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower-components/jquery/dist/jquery.min.js"></script>
    <script src='/bower-components/bootstrap/dist/js/bootstrap.min.js'></script>
</head>
<body>
<%- include('components/navbar') %>
<h1><%= name %></h1>
</body>
</html>
