<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower-components/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/bower-components/jquery/dist/jquery.min.js"></script>
    <script src='/bower-components/bootstrap/dist/js/bootstrap.min.js'></script>
  </head>
  <body>
    <%- include('components/navbar') %>
    <main class="container">
      <h1><%= title %></h1>
      <p>Click on the links in the corner to navigate the available pages and endpoints.Final</p>
      <p>For the Character Pages, I can't get a person by name in SWAPI, only by ID. Since only these 4 names were required, rather than pulling down all of the characters to search for the correct one by name or searching each page for the name (both of which would take a significant amount of time each page load), I assumed that it would be okay to link these names directly to their ID.</p>
    </main>
  </body>
</html>
